*{
    box-sizing: border-box;
}
.header{
    overflow: hidden;
    background-color: #a2a2ae;
    font-family: 'Calibri'; 
    padding: 5px 10px;
}

.titulo_header
{
    float: left;
    font-size: 25px;
    color: #0D7011;
    font-weight: 200;
    padding-top: 10px;
}

.header a
{
    float: left;
    color: #0D7011;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    margin-top: 7px;
    text-decoration: none;
    font-size: 18px;

}

<!-- Itens de navegação do header>
.navegacao_header {
    float: right;
    color: #0D7011;
    background-color: #92A595;
    width: 493;
    height: 60;
    gap: 8px;

}

.links_header {
    float: right;
}

.box_navegacao {
    float: right;
    width: 200px;
    padding: 8px;
    margin-top: 7px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #00000010;
    color: #0D7011;
}

body { 
    background-color: #D8D8D8;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    color: green;
    font-size: 50px;
    text-decoration: underline;
}
h2{
    text-align: center;
    font-size: 40px;
}
.parag_1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    
    width: 90%;
    padding: 30px;
    margin-left: 6%;
    /* border: 2px solid green; */
}
.video_sust{
    text-align: center;
}
