* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    margin: 10rem;
}

body{
    background-color: #d7d7d8;
    margin: 5rem;
}


.containerProdutoDestaque{
    /* justify-content: center; */
    align-items: center;
    /* border: solid 2px black; */
    width: 120rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 35rem;
    /* border-bottom: solid gray 0.1rem; */
    background-color: #d7d7d8;

    & .cubo1{
        padding-left: 3rem;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 16rem;
        height: 26rem;
        color: white;
        font-size: large;        

        & div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10rem;
            height: 10rem;
            position: absolute;
            transform-style: preserve-3d;
            transform: rotateX(-45deg) rotateY(45deg);
            animation: 10s linear infinite alternate animacaoCubo;            

            &.frente {
                background-color: #5d925e;
                transform: translateZ(5rem);
            }
            &.esquerda {
                background-color: #3c953d;
                transform: rotatey(-90deg) translatez(5rem);                
            }
            &.topo {
                background-color: #d5d6d7;
                transform: rotateY(90deg) rotatex(90deg) rotatez(90deg) translateZ(5rem);
            } 
          
        } 
        
    }     
    & .produtoDestaque1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 700;
        height: 26rem;
        color: green;
    }

    & .produtoDestaque2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 700;
        height: 26rem;
        color: green;
    }

    & .produtoDestaque3{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 700;
        /* background-color: green; */
        /* width: 26rem; */
        height: 26rem;
        color: green;
    }

    & .cubo2{
        padding-left: 0rem;
        padding-right: 0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 16rem;
        height: 26rem;
        color: white;
        font-size: large; 

        & div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10rem;
            height: 10rem;
            position: absolute;
            transform-style: preserve-3d;
            transform: rotateX(-45deg) rotateY(45deg);
            transition: transform 3s ease-in-out;
            animation: 8s linear infinite alternate animacaoCubo; 
            /* &:hover{
                transform: rotateX(-50deg) rotateY(35deg);
                
            } */

            &.frente {
                background-color: #5d925e;
                transform: translateZ(5rem);
            }
            &.esquerda {
                background-color: #3c953d;
                transform: rotatey(-90deg) translatez(5rem);                
            }
            &.topo {
                background-color: #d5d6d7;
                transform: rotateY(90deg) rotatex(90deg) rotatez(90deg) translateZ(5rem);
            }

        }

    }

}

@keyframes animacaoCubo {
    0% {
        transform: rotateX(-360deg) rotateY(-360deg);

    }
}

.containerComoFuncionaCategoria{
    justify-content: center;
    align-items: center;
    width: 120rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 40rem;

    & .comoFunciona{
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        align-items: center;
        width: 60rem;
        height: 35rem;

        & .comoFunciona1{
            color: green;
            font-size: 3rem;
            text-align: center;
        }
    }

    & .categoriaDeProdutos{
        display: grid;
        justify-content: center;
        align-items: center;
        width: 60rem;
        height: 35rem;
        color: white;
        font-size: 3rem;
        & h2{
            color: green;
        }

        & ul {            
            list-style: none;
            font-size: 3rem;
            justify-self: center;
            font-weight: 600;           
            & li{
                margin: 1rem;
                transform: rotate(-5deg);                                
            }
            & a {
                text-decoration: none; 
                color: green;
                       
            }
             & a:hover{
                color: white;
                text-decoration: underline;
                padding: 0.5rem;
                background-color: green;
                transition-delay: 0.1s;
                transition-duration: 1s;
                transform: scale(1.5rem);      
            }

            }
        }
    }



.containerEbook{
    font-weight: 700;
    width: 120rem;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 2rem;
    row-gap: 2rem;
    border-bottom: gray solid 0.1rem;

    & h2 {
        padding-top: 4rem;
        font-size: 4rem;
        grid-column: 1 / span 3;
        justify-self: center;
        color: green;
    }
    & figcaption{
        font-size: 1.7rem;
        text-align: center;
        color: green;
        padding-bottom: 5rem;
    }

    
    & .eBook_01{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        & a {
            text-decoration: none;
            &:hover{
                text-decoration: underline;
                text-decoration-color: green;
            }
        }

    }

    & .eBook_02{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        & a {
            text-decoration: none;
            &:hover{
                text-decoration: underline;
                text-decoration-color: green;
            }
        }
    }

    & .eBook_03{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        & a {
            text-decoration: none;
            &:hover{
                text-decoration: underline;
                text-decoration-color: green;
            }
        }
    }
}


.whats {
    background: green;
    border-radius: 15%;
    color: white;
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}