*{
    box-sizing: border-box;
    font-family: 'Calibri';
}

/*Reset da página*/

body {
    background-color: #D8D8D8;
    margin: 0;
}

/*Espaçamento entre o header e o conteúdo principal
Terá que ser modificado conforme adicionado mais conteúdo*/

main {
    margin-top: 3%;
}

/*Header*/

.header{
    display: flex;
    overflow: hidden;
    background-color: #A2AEA4;
    font-family: 'Calibri';
    padding: 5px 10px;
}

.img-logo-header {
    width: 49.55px; 
    height: 53.33; 
    float: left;
}

.titulo_header
{
    float: left;
    font-size: 25px;
    color: #0D7011;
    font-weight: 200;
    padding-top: 10px;
}

.header a
{
    float: left;
    color: #0D7011;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    margin-top: 7px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.navegacao_header {
    color: #0D7011;
    margin-left: 50px;
    height: 60;
    gap: 8px;
}

.links_header {
    float: right;
}

.box_navegacao {
    width: 44%;
    display:block;
    margin: 0 0 0 auto;
}

.box_navegacao_mobile {
    opacity: 0;
}

.box_navegacao input[type=text] {
    width: 250px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-image: url('../img/procurar.svg');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1px solid #00000010;
    color: #0D7011;
    background-color: #2c2c2c1c;
}

.box_navegacao input:focus {
    width: 100%;
    box-shadow: 0 0 0 0;
    background-color: #2c2c2c1c;
    border: 1px solid green;
    outline: 0;
}

.header button {
    text-align: center;
    box-sizing: border-box;
    border-radius: 30px;
    color: #ffffff;
    border: none;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #0d701080;
    font-size: 20px;
    font-family: 'Calibri';
}

.header button:hover {
    background-color: #0D7011;
}

.nav-list {
    align-items: center;
    list-style: none;
    display: flex;
}
  
.nav-list li {
    list-style: none;
    /*margin-left: 32px;*/
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: #464646;
}

.img-carrinho {
    color: #0D7011; 
    width: 30px; 
    margin-top: -5px; 
    margin-right: -10px;
}

ul {
    margin: 0;
    padding: 0;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #0D7011;
    margin: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/*Fim do header*/

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 14px 20px;
}
@media screen and (max-width: 800px){
    .container_1{
        flex-direction: column;
        height: 300px;
        margin-bottom: 100px;
    }
}

.produtoDestaque {
    flex-flow: 1;
    flex: 30%;
    margin:0%;
    text-align: center;
    height: 400px;
}

.container_2{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 410px;
}
.div1{
    position: absolute;
    left: 45%;
    top: 0px;
    display: inline-block;
}
@media screen and (max-width: 900px){
    .div1{
        left: 35%;
    }
}

.div2{
    position: absolute;
    left: 35%;
    top: 100px;
    display: inline-block;
}

@media screen and (max-width: 700px){
    .div2{
        left: 10%;
    }
}

.categorias-de-produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 14px 20px;


}
.categorias-de-produtos a {
    flex-grow: 1;
    text-align: center;

}

@media screen and (max-width: 700px){
    .categorias-de-produtos {
        flex-direction: column;
    }
}

.cp1{
    padding: 15px;
    font-size: 30px;
    color: #0D7011;
    border: white 2px double;
    height: auto;
}
.cp1:hover {
    color: #9acd32;
    border: #d8d8d8 groove 5px;
    background: #008000;
    padding: 25px;
    text-decoration: none;
}

.e-books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 14px 20px;
    text-align: center;
}

#capa_1 {
    flex-grow: 1;
    background-color: #D8D8D8;
    margin: 10px;
    height: 350px;
    color: #0D7011;
    text-align: center;
}
#capa_2 {
    flex-grow: 1;
    background-color: #D8D8D8;
    margin: 10px;
    height: 350px;
    color: #0D7011;
    text-align: center;
}
#capa_3 {
    flex-grow: 1;
    background-color: #D8D8D8;
    margin: 10px;
    height: 350px;
    color: #0D7011;
    text-align: center;
}

.parag_2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;

    width: 90%;
    padding: 3px;
    margin-left: 6%;
}
.parag_3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;

    width: 90%;
    padding: 3px;
    margin-left: 6%;
}


.whats {
    background: green;
    border-radius: 15%;
    color: white;
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
h2{
    text-align: center;
    color: green;
    font-size: 25px;

}

.container_3 {
    border-top: #0D7011 double 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 10px 10px;
    text-align: center;
}
.container_3 div {
    flex-grow: 1;
}

@media screen and (max-width: 800px){
    .container_3 {
        flex-direction: column;
    }
}


/*página de login */

.login {
    display: block;
    background-color: #0D7011;
    color: #1DF024;
    font-size: 17px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 2ex 3ex;
    margin-top: 50px;
    border-radius: 50px;
    margin-bottom: 50px;
}

.lembrar-senha {
    font-size: 10px;
}


.login form {
    font-size: 25px;
}

.login h1 {
    font-size: 50px;
    text-align: center;
}

.login a, p{
    font-size: 10px;
    text-align: center;
}

.links {
    text-align: center;
}

.id-senha input {
    border: 1px solid #a2aea4;
    border-radius: 6px;
    background-color: #f0f0f0;
    padding: 10px;
    height: 100%;
    width: 300px;
}

.lembrar-senha {
    text-align: end;
}

input {
    /*width: 18%;*/
    border-radius: 6px;
    background-color: #2c2c2c1c;
    border: 1px solid #00000010;
    margin-top: 1%;
    padding-left: 1%;
    height: 30px;
    font-family: 'Calibri';
    color: #0D7011;
    font-size: 15px;
}

input[type="submit"] {
    display: block;
    border: 1px solid #A2AEA4;
    height: 100%;
    width: 197px;
    margin-top: 8px;
    align-items: center;
}

input.cadastroEmail{
    text-align: center;
    width: auto;
}

input.acessar {
    background-color: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 27%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    border-radius: 6px;
}

input:focus {
    box-shadow: 0 0 0 0;
    background-color: #e7e7e7;
    border: 1px solid #A2AEA4;
    outline: 0;
}

input .acesso {
    align-items: center;
}

@media only screen and (max-width: 1900px) {
    .box_navegacao {
        width: 44%;
    }    
}

@media only screen and (max-width: 1875px) {
    .box_navegacao {
        width: 43%;
    }    
}

@media only screen and (max-width: 1850px) {
    .box_navegacao {
        width: 42%;
    }    
}

@media only screen and (max-width: 1830px) {
    .box_navegacao {
        width: 41%;
    }    
}

@media only screen and (max-width: 1800px) {
    .box_navegacao {
        width: 39%;
    }    
}

@media only screen and (max-width: 1750px) {
    .box_navegacao {
        width: 37%;
    }    
}

@media only screen and (max-width: 1700px) {
    .box_navegacao {
        width: 32%;
    }    
}

@media only screen and (max-width: 1650px) {
    .box_navegacao {
        width: 28%;
    }
    .box_nossa_missao{
        padding-left: 3%;
    }
    .box_nosso_time {
        padding-left: 3%;
        margin-right: 24%;
    }
    .proximo {
        right:24.3%;
    }    
    .anterior {
        left: 51%;
    }
}

@media only screen and (max-width: 1476px) {
    .box_navegacao {
        width: 23%;
    }    
}

@media only screen and (max-width: 1381px) {
    .box_navegacao {
        width: 20%;
    }    
    .box_nossa_missao{
        padding-left: 1.8%;
    }
    .box_nosso_time{
        padding-left: 2%;
        margin-right: 23.8%;
    }
    .proximo{
        right: 24.1%;
    }
    .anterior{
        left: 51.2%;
    }
}

@media only screen and (max-width: 1331px) {
    .box_navegacao {
        width: 18%;
    }    
}

@media only screen and (max-width: 1320px) {
    body {
        overflow-x: hidden;
    }
    
    .body_left{
        width: 100%;
        padding-bottom: 60px;
    }

    .body_right{
        width: 100%;
    }

    .titulo_body_right, .texto_body_right, .button_align_left{
        text-align: center;
    }

    .button_align_left{
        margin-bottom: 35px;
    }

    .box_nossa_missao {
        width: 30%;
        height: 173px;
        position: relative;
        left: 18%;
    }

    .box_nosso_time {
        position: relative;
        width: 30%;
        right:-5.5%;
    }

    .anterior{
        left: 0%;
    }
    .proximo{
        right: 0%;
    }
    .box_navegacao {
        opacity: 0;        
    }

    .box_navegacao_mobile {
        opacity: 100;
        float: left;
        width:100%;
        margin: 0 0 0 auto;
    }

    .box_navegacao_mobile input[type=text] {
        width: 100%;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        background-image: url('img/procurar.svg');
        background-repeat: no-repeat;
        background-position-x: 98%;
        background-position-y: 50%;
        padding: 10px;
        margin-top: 1px;
        margin-bottom: 5px;
        box-sizing: border-box;
        border-radius: 30px;
        border: 1px solid #00000010;
        color: #0D7011;
        height: 35px;
    }

    .nav-list {
        position: fixed;
        top: 58px;
        right: -100%;
        width: 30%;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-list.active{
        right: 0;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 100;
    }

    .nav-item button {
        border-radius: 0;
        color: #0D7011;
        border: none;
        background-color: #262626;
    }

    .nav-item button:hover{
        color: #464646; 
        background-color: #262626; 
        transition: all 0.3s ease-in-out;  
    }
    
    .mobile-menu {
        margin-top: 30%;
        display: block;
    }  

    .mobile-menu.active .bar:nth-child(2){
        opacity: 0;
    }

    .mobile-menu.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .mobile-menu.active .bar:nth-child(3){
        transform: translateY(8px) rotate(-45deg);
    }
}

@media only screen and (min-width: 600px) {

}